mmengine
langchain
openai
unstructured
pandas
tiktoken
finnhub-python
yfinance>=0.2.31
pandas_market_calendars
polygon-api-client
mplfinance
python-dotenv
gymnasium
pandas_ta
json5
pyarrow
fastparquet
langchain_community
unstructured
playwright
ta
snapshot_selenium
pyecharts
statsmodels
einops
timm
scikit-learn
gymnasium
tensorboard
stable_baselines3
datasets
pynvml
peft
transformers
polars-lts-cpu
sortedcontainers
toml
optuna
pykalman
pytest
sktime
seaborn
